@font-face {
    font-family: Cronus;
    src: url('../fonts/Cronus%20Round.otf');
}
@font-face {
    font-family: Matias;
    src: url('../fonts/Matias.otf');
}
body{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #8BAF55;
}

.header h1{
    font-family: Matias;
    font-size: 30pt;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
}
#flask{
    margin-top: 1%;
    margin-left: calc(50% - 7px);
}

/*.container{
    display: none;
}*/
@keyframes circleAnimationIn {
    from{width: 100%; height: 100%;margin-left: 0; top: 0; border-radius: 100%;}
    to{width: 50px; height: 50px; margin-left: calc(50% - 25px); top: 40%; border-radius: 25px;}
}
@-webkit-keyframes  circleAnimationIn{
    from{width: 100%; height: 100%; margin-left: 0; top: 0; border-radius: 100%;}
    to{width: 50px; height: 50px; margin-left: calc(50% - 25px); top: 40%; border-radius: 25px;}
}

@-moz-keyframes circleAnimationIn{
    from{width: 100%; height: 100%; margin-left: 0; top: 0; border-radius: 100%;}
    to{width: 50px; height: 50px; margin-left: calc(50% - 25px); top: 40%; border-radius: 25px;}
}

@keyframes circleAnimationOut {
    from{width: 50px; height: 50px; margin-left: calc(50% - 25px); top: 40%; border-radius: 25px;}
    to{width: 100%; height: 100%; margin-left: 0; border-radius: 0; margin-left: 0; top: 0;}
}
@-webkit-keyframes  circleAnimationOut{
    from{width: 50px; height: 50px; margin-left: calc(50% - 25px); top: 40%; border-radius: 25px;}
    to{width: 100%; height: 100%; margin-left: 0; border-radius: 0; margin-left: 0; top: 0;}
}

@-moz-keyframes  circleAnimationOut{
    from{width: 50px; height: 50px; margin-left: calc(50% - 25px); top: 40%; border-radius: 25px;}
    to{width: 100%; height: 100%; margin-left: 0; border-radius: 0; margin-left: 0; top: 0;}
}

